@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gowun+Dodum&family=Do+Hyeon&family=Slabo+27px&display=swap');
* {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    height: 100px;
    width: 100%;
    position: relative;
    top: 0;
    background-color: rgb(121, 167, 236);
    justify-content: space-between;
    box-shadow: 1px 1px 1px gray;
}
#searchtext {
    width: 200px;
    height: 30px;
    border: 3px solid white;
    color: rgb(121, 167, 236);
    background-color:#fff;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
    margin-right: 5px;
}
.search {
  margin-left: 30px;
  margin-top: 30px;
  box-sizing: border-box;
  display: inline-block;
}
#submit {
  position: relative;
  bottom: 2.5px;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  border: 3px solid white;
  color: rgb(121, 167, 236);
  background-color: white;
  height: 38px;
  width: 45px;
  border-radius: 5px;
  font-size: 17px;
}
#title {
    float: right;
    width: 200px;
    height: 80px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h1 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  margin: 10px;
}
.contents {
    height: 850px;
    width: 100%;
    position: static;
    border: 2px solid rgb(121, 167, 236);
    box-sizing: border-box;
} 
#googlesearch {
    width: 48.25%;
    height: 380px;
    margin: 10px;
    position: static;
    float: left;
    background-color: white;
    border: 2px solid rgb(121, 167, 236);
}
#youtubesearch {
    width: 48.25%;
    height: 380px;
    margin: 10px;
    position: static;
    float: right;
    background-color: white;
    border: 2px solid rgb(121, 167, 236);
}
h2 {
  text-align: center;
}
.player {
  height: 100%;
  overflow: scroll;
}
#scrollview {
  height: 100%;
  overflow: scroll;
}
#timeseries {
  position: relative;
  height: 425px;
  width: 98.25%;
  float: none;
  border: 2px solid rgb(121, 167, 236);
  top: 400px;
  margin: 10px;
}
#trends-widget-1{
  visibility: hidden;
}
#trends-widget-2{
  position: relative;
  bottom: 390px;
  overflow: visible;
  width: 100%;
  visibility: hidden;
}

